<div xmlns:th="http://www.thymeleaf.org">
  <div class="table">
    <div class="row">
      <div class="col">id</div>
      <div class="col">name</div>
      <div class="col">description</div>
      <div class="col">actions</div>
    </div>
    <div class="row" th:each="todo, iterStat : *{todos}"
        th:hx-get="@{${'/ui/todos/' + todo.id}}"
        hx-trigger="click"
        hx-target="#todo-div"
        hx-swap="innerHTML">
      <div class="col" th:text="${todo.id}">
        id
      </div>
      <div class="col" th:text="${todo.name}">
        name
      </div>
      <div class="col" th:text="${todo.description}">
        description
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <div id="todo-div"></div>
</div>
